/*======================
========Font==========
=======================*/


   p, ol, ul, blockquote, pre, code {
  	line-height: 18px;
  }

  strong, .bold, b{
	color:#191919;
  }

p {
  font: normal 12px/1.5em Arial, Helvetica, sans-serif;
  color: #fff;
  margin:2%;
  padding:2%;
  color:#CCCCCC;
}

.fa-paw{
	color: #FBDE42 !important;
	margin-right: 15px !important;
}

.fa{
	color:#ecf0f1;
	margin: 5px;
}

.fa:hover{
	color: #FBDE42;
}

a:hover:{
color: #FBDE42 !important;
}


h4{
	display: inline-block;
	color: #FBDE42;
	font-family: "Alfa Slab One", cursive;
	font-size: 4em;
	margin-top:25px;
}


/*======================
========GLOBAL==========
=======================*/
body{
	text-align: center;
	background-color: #FF4C2E;
	background-image: url("dog.jpg");
    background-repeat: no-repeat;
}

#wrapper{
	margin: 0 auto;

}

.grow { 
	transition: all .5s ease-in-out; 
}
.grow:hover { 
	transform: scale(1.3);
}

/*======================
========HEADER==========
=======================*/
header{
	margin: 5px auto 5px auto;
}
ul.list{
	list-style: none !important;
	margin: 5px;
	padding: 5px 200px 5px 5px;
}
ul{
	list-style: none !important;
}
ul.list a{
	text-decoration: none;
	padding: 5px;
	margin:5px;
	display: inline-block;
}

/*=============NAV============*/

.navbar{
	min-height: 100px;
	background-color: #333333;
}

 .nav-container, .container-fluid{
	padding-left: 70px !important;
}

.navbar-default .navbar-nav>li>a {
	color:#ecf0f1 !important;
}

.navbar-default{
	border-color: #FBDE42 !important;
}

.nav li a{
	margin-right: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/*======================
========MAIN==========
=======================*/
main{
	background-color: rgba(255,255,255, .5);
	border: solid grey 1px;
	width: 100%;
	height:400px;
	margin: 5px 0px 0px 0px;
	display: inline-block;
	float: left;
}

.main-container{
	margin: 10px auto;
}

button, input{
	margin-top:100px;
}

/*======================
========Pictures==========
=======================*/
#puppyrow img{
	border: 12px solid #3e2b14;
  	padding: 3px;
  	margin-top:60px;
}

/*=============================
========Prime Factors==========
===============================*/

button{
	background-color: #FBDE42 !important;
	margin-top:15px;
	margin-left: 15px;
}

.formcont{
	margin-top: 6em;
}

input{
	margin-top: 10px;
	border: 5px solid #FBDE42; 
	-webkit-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
	        0 0 16px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
	        0 0 16px rgba(0,0,0,0.1); 
	box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
	        0 0 16px rgba(0,0,0,0.1); 
	padding: 15px;
	background: rgba(255,255,255,0.5);
	margin: 0 0 10px 0;
}

button p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #111 !important;
}
.btn-secondary:hover{
	transform: scale(1.1);
	transition: all .5s ease-in-out; 
}

/*======================
========Sidebar==========
=======================*/

.sidebar{
	width:28%;
	height:1000px;
	float: right;
	background-color: rgba(0,0, 0,.5);
    margin-top: 24px;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}


/*======================
========FOOTER==========
=======================*/
.footcont{
/*	border:solid 1px black;
	height: 200px;
	background-color: #191919;*/
}

.footcont .col-md-4{
	border:solid black 1px;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	margin:2% auto;
	padding: 1%;
	max-width: 100%;
	background-color: rgba(42,42, 42,.9);
	height:120px;
}
/*======================
==MEDIA QUERIES=========
=======================*/